.fundraiser{
    transform: translateY(-3%);
}

#fileInput{
    border-radius: 10px;
    width: 60%;
}

#fileInput:hover,
#fileInput:active{
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.1);
}

#owner{
    transform: translateX(15%);
}

.NFT p{
    color: black;
}

.gradeCalculation{
    display: flex;
    justify-content: center;
    transform: translateY(30%);
    flex-direction: column;
}

.NFTViewSwitcher{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.1);
    cursor: pointer;
    border-radius: 25px;
    padding: 1.5%;
}

.NFTViewSwitcherButton{
    display: flex;
}

.NFTViewSwitcher:hover,
.NFTViewSwitcher:active{
    background-color: rgba(240, 248, 255, 0.6);
    color:#0580cce5;
    font-weight: bolder;
}

.NFTViewSwitcher button{
    width: 50%;
    border-radius: 10px;
    padding: 1%;
}

.inAuction p{
    color: green;
    display: inline;
}

.imageValue{
    float: left;
    padding: 4%;
}

.bidInput{
    margin-top: 1%;
    display: flex;
}

.amountInputBid{
    display: flex;
    float: right;
    background-color: aliceblue;
    border-radius: 10px;
    width: 55%;
}

.auctionPost{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auctionPost button{
    margin-bottom: 2%;
}

.bid{
    float: left;
    width: 45%;
}

.etherSymbolBid{
    display: flex;
    align-items: center;
}


