/* Styles go here */
.Account{
    display: flex;
    justify-content: center;
}

.balance{
    display: flex;
    justify-content: center;
    flex: 0.2;
}

.interest{
    display: flex;
    justify-content: center;
    flex: 0.2;
}

.debtDetails{
    display: flex;
    justify-content: center;
}

.tokenDebt{
    display: flex;
    flex: 0.5;
    justify-content: center;
}

.collateral{
    display: flex;
    flex: 0.5;
    justify-content: center;
}

#image{
    display: none;
}