span{
    font-size: 22px;
}

small{
    font-size: 16px;
}

ul{
    display: flex;
}

.nav-item p{
    color: aqua;
}

.nav-item p:hover{
    text-decoration: none;
    color: aliceblue;
}

.navbar-brand{
    transform: translateY(-20%);
}
